@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&family=IBM+Plex+Sans+Thai&family=Inter:opsz,wght@14..32,100..900&display=swap");

@import "tailwindcss";

:root {
  --green-500: hsla(159, 22%, 18%, 1);
  --green-300: hsla(149, 38%, 27%, 1);
  --green-100: hsla(162, 28%, 88%, 1);
  --golden: hsla(39, 45%, 58%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --text: hsla(0, 0%, 10%, 1);
  --text-secondary: hsla(205, 16%, 68%, 1);
  --grey-100: hsla(163, 5%, 75%, 1);
  --grey-300: hsla(163, 1%, 58%, 1);
  --success: hsla(141, 39%, 47%, 1);
  --error: hsla(360, 88%, 58%, 1);
}

@theme {
  --color-green-500: var(--green-500);
  --color-green-300: var(--green-300);
  --color-green-100: var(--green-100);
  --color-golden: var(--golden);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-grey-100: var(--grey-100);
  --color-grey-300: var(--grey-300);
  --color-success: var(--success);
  --color-error: var(--error);
}

body {
  background: var(--color-grey-300);
  color: var(--foreground);
  font-family: "Inter";
}

.castoro-regular-italic {
  font-family: "Castoro", serif;
  font-weight: 400;
  font-style: italic;
}
